node_modules/
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
types

#### Voting ####
voting/v1/.openzeppelin/
voting/v1/node_modules/
voting/v1/.env
voting/v1/coverage
voting/v1/coverage.json
voting/v1/typechain
voting/v1/cache
voting/v1/artifacts
voting/v1/types

voting/v2/.openzeppelin/
voting/v2/node_modules/
voting/v2/.env
voting/v2/coverage
voting/v2/coverage.json
voting/v2/typechain
voting/v2/cache
voting/v2/artifacts
voting/v2/types


#### bridge ####
bridge/.openzeppelin/
bridge/node_modules/
bridge/.env
bridge/coverage
bridge/coverage.json
bridge/typechain
bridge/cache
bridge/artifacts
bridge/types

.gitignore
