node_modules/
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
types

#### Voting ####
voting/node_modules/
voting/.env
voting/coverage
voting/coverage.json
voting/typechain

#Hardhat files
voting/cache
voting/artifacts
voting/types

#### Voting ####
dex/node_modules/
dex/.env
dex/coverage
dex/coverage.json
dex/typechain

#Hardhat files
dex/cache
dex/artifacts
dex/types

