FTMMAIN_NET_API_URL=https://rpc.ankr.com/fantom
FTMTEST_NET_API_URL=https://rpc.ankr.com/fantom_testnet

BSCMAIN_NET_API_URL=https://bsc-dataseed.binance.org
BSCTEST_NET_API_URL=https://nd-776-382-692.p2pify.com/c10811547f0af3653331925507a56f51

ETHMAIN_NET_API_URL=https://mainnet.infura.io/v3/dab5d9369c634e9eb31c65dca684fc06
ETHTEST_NET_API_URL=https://goerli.infura.io/v3/dab5d9369c634e9eb31c65dca684fc06

AVALANCHEMAIN_NET_API_URL=https://api.avax.network/ext/bc/C/rpc
AVALANCHETEST_NET_API_URL=https://api.avax-test.network/ext/bc/C/rpc

POLYGONMAIN_NET_API_URL=https://polygon-mainnet.g.alchemy.com/v2/JTaXV4vfXhPOluIMRXNrzX0qPX7WNQpT
POLYGONTEST_NET_API_URL=https://polygon-mumbai.g.alchemy.com/v2/3pqvSFNiC2sFXRqu5pxi7zprovrYusSw

ARBOTRUMMAIN_NET_API_URL=https://arb-mainnet.g.alchemy.com/v2/MweJ0_tfkNVLMml2_iRQoXbNygx5uctv
ARBOTRUMTEST_NET_API_URL=https://arb-goerli.g.alchemy.com/v2/xam_FcUnkbDozL0xKZwsl-laTw_5IW96

OPTIMISMMAIN_NET_API_URL=https://opt-mainnet.g.alchemy.com/v2/D9mYS9XFlKl-DNO2uwMAd9S4EakHIspF
OPTIMISMTEST_NET_API_URL=https://opt-goerli.g.alchemy.com/v2/84vvTb5OTtNOv9EU_2QNIY2NhniQJvsP

MOONRIVERMAIN_NET_API_URL=https://moonriver.public.blastapi.io
MOONRIVERTEST_NET_API_URL=https://rpc.testnet.fantom.network

PRIVATE_KEY=
PRIVATE_KEY_ALICE=

FTM_API_KEY=BQFYFSYXW4AB2IMY77R5B3M6QX5T872S9W
ETH_API_KEY=5573EP51U35FDS837XT1AMD5I7QWQJ2PZ5
BSC_API_KEY=JD7JRCY5EQ21XA8U4QJJQC24JWP1EYQUHH
AVALANCHE_API_KEY=Z7ICD5QD8WJ3MGAF7PA7WBKV2YUBHU67M3
POLYGON_API_KEY=RJ4HM4GHATH2KJMFV4ZE68BR7SXZVG4C38
ARBITRUM_API_KEY=FKSA864A98FI4NXWAPIUEBGXAH1J17U8WH
OPTIMISM_API_KEY=Z74JH57JK8UU642IG4DWYGYN7EKS259DIX
MOONRIVER_API_KEY=2K8IPVF1B1YNM4E5GEG5WHZ3SUNZRAYNI3

